/* /Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9j92kjwtol] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9j92kjwtol] {
  color: #0077cc;
}

.btn-primary[b-9j92kjwtol] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9j92kjwtol], .nav-pills .show > .nav-link[b-9j92kjwtol] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9j92kjwtol] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9j92kjwtol] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9j92kjwtol] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9j92kjwtol] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9j92kjwtol] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Pages/Shared/_ManagementLayout.cshtml.rz.scp.css */
/* .sidebar {
    height: 100vh; 
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212529; 
    padding-top: 20px;
    color: white;
    z-index: 1000;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #adb5bd;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover, .sidebar a.active {
    color: #ffffff;
    background-color: #343a40;
    border-left: 4px solid #0d6efd;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.sidebar-header {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #343a40;
    margin-bottom: 20px;
    text-align: center;
} */
/* /Pages/VideoDetail.cshtml.rz.scp.css */
video[b-lh3b2wnxet] {
    border-radius: 8px;
}

#video-detail[b-lh3b2wnxet] {
    width: 250px;
    text-decoration: none;
    color: black;
    height: 100px;
    margin-bottom: 45px;
}

#video-detail-thumbnail[b-lh3b2wnxet] {
    border-radius: 8px;
}
/* /Pages/Videos.cshtml.rz.scp.css */
/* Hover Efekti (İsteğe bağlı: Üzerine gelince simge parlasın) */
.video-card:hover .play-icon[b-i117ucy8t5] {
    opacity: 1 !important;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.video-card img[b-i117ucy8t5] {
    transition: filter 0.3s ease;
}

.video-card:hover img[b-i117ucy8t5] {
    filter: brightness(0.7); /* Üzerine gelince resim hafif kararır, simge öne çıkar */
}

#video-main-thumbnail[b-i117ucy8t5] {
    text-decoration: none;
}
