bin/
obj/
out/

.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

secrets.json
.microsoft.dotnet.secretmanager.list.json

.DS_Store

Thumbs.db
ehthumbs.db
desktop.ini

*.log
logs/

publish/

*.mdf
*.ldf