.video-card:hover .play-icon[b-i117ucy8t5] {
    opacity: 1 !important;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.video-card img[b-i117ucy8t5] {
    transition: filter 0.3s ease;
}

.video-card:hover img[b-i117ucy8t5] {
    filter: brightness(0.7); 
}

#video-main-thumbnail[b-i117ucy8t5] {
    text-decoration: none;
}